body {
  background-color: black;
  height: 100vh;
}

.container {
    text-align: center;
    display: flex;
    height: 100vh;
}

.center, #viewer-iframe {
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
