body {
  background-color: black;
}

.container {
    text-align: center;
    display: flex;
    background-color: blue;
}

.center {
    background-color: yellow;
}

#viewer-iframe {
    background-color: red;
}

.center, #viewer-iframe {
  flex: 1;
}

button {
    position: absolute;
    top: 50%;
}
